@font-face {
    font-family: "Archivo";
    src: url(/17-Accordion/assets/fonts/Archivo_ExtraCondensed-Regular.ttf);
}

@font-face {
    font-family: "Muli";
    src: url(/17-Accordion/assets/fonts/Mulish-Medium.ttf);
}